.contacts {
    margin-left: auto;

    @media screen and (max-width: $pre-tabl) {
        display: none;
    }

    @media screen and (max-width: $pre-tabl) {
        flex-direction: column;
        justify-content: flex-start;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: center;
    }
}

.contacts__item+.contacts__item {
    @media screen and (min-width: $desktop){
        margin-left: 50px;
    }
}

.contacts__link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.14;
    }
}

.contacts__icon {
    margin-right: 8px;
    fill: currentColor;

    @media screen and (min-width: $desktop) {
        margin-right: 10px;
    }
}

.contacts__icon--size-mail {
    @media screen and (min-width: $tablet) and (max-width: $pre-desk) {
        width: 14px;
        height: 10px;
    }
}

.contacts__icon--size-phone {
    @media screen and (min-width: $tablet) and (max-width: $pre-desk) {
        width: 10px;
        height: 14px;
    }
}