/* filter button */
.filter {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.filter__button {
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-weight: 500;
    line-height: 1.62;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


/* projects */
.project__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

        .project__overlay {
                transform: translateY(0);
            }
    }
}

.project__wrapper {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    position: absolute;
    transform: translateY(100%);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__text {
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
}

.project__name {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__border {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 20px 24px;

    background: var(--primary-white-color);
}