:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-accent-color: #188CE8;
    --primary-white-color: #FFFFFF;
    --logo-color: #000000;
    --secondary-background-color: #F5F4FA;
    --header-stroke: #ECECEC;
    --hero-footer-background: #2F303A;
    --footer-contacts-link-color: rgba(255, 255, 255, 0.6);
    --border-color: #EEEEEE;
    --hero-other-bg: #C4C4C4;
    --icon-color: #AFB1B8;
    --form-title-color: #212121;
}